.home {
  max-width: 1500px;
  margin: 0 auto;
}
.home__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  max-width: 1500px;
  margin: 0 auto;
  z-index: -1;
  margin-bottom: -150px;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 700px) {
  .home {
    max-width: 100%;
    margin: 0 auto;
  }
  .home__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home__image {
    margin: 0px !important;
    z-index: 1;
  }
  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
}
