.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-left: 15px;
}
.subtotal__gift {
  display: flex;
}
.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846129;
  margin-top: 10px;
  color: #111;
}
